
<!------ Include the above in your HEAD tag ---------->

<div class="simple-login-container" >
    <h2>Ponto jr</h2>
    <div class="row">
        <div class="col-md-12 form-group">
            <input type="text" class="form-control" placeholder="Nome">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <input type="password" placeholder="Senha" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <input type="submit" class="btn btn-block btn-login" [routerLink]="['/inicio']">
        </div>
    </div>

</div>